.highlighter-rouge {
    overflow-x: auto;
}
.red {
    background-color: #BE464B;
}
.text-red{
    color: #BE464B;
}
.blue {
    background-color: #293854;
}
.text-blue{
    color: #293854;
}
.brown {
    background-color: #EBE3E1
}
.text-brown {
    color: #EBE3E1
}
.gray {
    background-color: #CBC6C3
}
.text-gray {
    color: #CBC6C3
}
.pink {
    background-color: #D99892
}
.text-pink {
    color: #D99892
}