--- 
layout: default 
title: Marcin Cieśla, programista (nie)amator 
---
<div class="my-blog__posts mdl-grid">
	{% for post in site.posts limit:1 %}
	<div class="mdl-card mdl-cell mdl-cell--8-col">
		<div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url({{ post.banner_image }});">
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
		</div>
		<div class="mdl-color-text--grey-600 mdl-card__supporting-text">
			{{ post.excerpt }}
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<!--<div class="minilogo"></div>-->
			<div>
				<!--<strong>Pegasus</strong>-->
				<span>{{ post.date | date_to_string }}</span>
			</div>
			<div class="section-spacer"></div>
			<a href="{{ post.url }}" class="my-nav__button" title="show more">
				<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
				<i class="material-icons" role="presentation">arrow_forward</i>
				</button>
			</a>
		</div>
	</div>
	{% endfor %}
	<div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
		<!--<button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
              <i class="material-icons mdl-color-text--white" role="presentation">add</i>
              <span class="visuallyhidden">add</span>
            </button>-->
		<div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
			<img src="images/logo.jpg">
		</div>
		<div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
			<div>
				<strong>Marcin Cieśla</strong>
			</div>
			<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn">
				<li class="mdl-menu__item">About</li>
				<li class="mdl-menu__item">CV</li>
				<li class="mdl-menu__item">Contact</li>
			</ul>
			<button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">more_vert</i>
                <span class="visuallyhidden">show menu</span>
              </button>
		</div>
	</div>
	{% for post in site.posts offset:1 %}
	<div class="mdl-card mdl-cell mdl-cell--12-col">
		<div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url({{ post.banner_image }});">
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
		</div>
		<div class="mdl-color-text--grey-600 mdl-card__supporting-text">
			{{ post.excerpt }}
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<!--<div class="minilogo"></div>-->
			<div>
				<!--<strong>Pegasus</strong>-->
				<span>{{ post.date | date_to_string }}</span>
			</div>
			<div class="section-spacer"></div>
			<a href="{{ post.url }}" class="my-nav__button" title="show more">
				<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
				<i class="material-icons" role="presentation">arrow_forward</i>
				</button>
			</a>
		</div>
	</div>
	{% endfor %}
	<!--<div class="mdl-card amazing mdl-cell mdl-cell--12-col">
		<div class="mdl-card__title mdl-color-text--grey-50">
			<h3 class="quote"><a href="entry.html">I couldn’t take any pictures but this was an amazing thing…</a></h3>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
			ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<strong>The Newist</strong>
				<span>2 days ago</span>
			</div>
		</div>
	</div>
	<div class="mdl-card shopping mdl-cell mdl-cell--12-col">
		<div class="mdl-card__media mdl-color-text--grey-50">
			<h3><a href="entry.html">Shopping</a></h3>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
			ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
		</div>
		<div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
			<div class="minilogo"></div>
			<div>
				<strong>The Newist</strong>
				<span>2 days ago</span>
			</div>
		</div>
	</div>-->
	<nav class="my-nav mdl-cell mdl-cell--12-col">
		<div class="section-spacer"></div>
		<!--<a href="entry.html" class="my-nav__button" title="show more">
			More
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
				<i class="material-icons" role="presentation">arrow_forward</i>
			</button>
		</a>-->
	</nav>
</div>